<%- include('partials/header'); -%>
<h1>Μήνυμα</h1>
<form action="/compose" method="post">
        <div class="form-group">
            <label for="posttitle">Τίτλος</label>
            <input type="text" class="form-control" name="posttitle" id="posttext" placeholder="Δώστε τίτλο">
   
            <label for="posttext">Άρθρο</label>
            <textarea id="posttext" class="form-control" name="posttext"
                    rows="5" cols="33">
            </textarea>            
        </div>
    <button type="submit" class="btn btn-primary">Δημοσίευση</button>

</form>

<%- include('partials/footer'); -%>