<%- include('partials/header'); -%>
<h1>Μήνυμα</h1>
<form action="/compose" method="post">
    <input type="text" name="postname" id="" placeholder="Δώστε τίτλο">
    <button type="submit">+</button>

</form>

<%- include('partials/footer'); -%>